body{
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    background-color: #000;
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: 20% 20% auto;
}
header{
    margin-left: 2rem;
    color: #FFF;
    font-size: 2rem;
    grid-column:1/span 2 ;
    grid-row: 1;
}
header p {
    margin: 0;
}
header p:first-child{
    font-weight: 700;
}
header p:last-child{
    font-weight: 400;
}
aside{
    color: #FFF;
    margin-left: 2rem;
    max-height:362px;
    overflow: hidden;
    grid-column:1 ;
    grid-row: 2 / span 2;
}
aside h1, aside p{
    margin-top: 0;
}
#galery{
    color: #FFF;
    column-count: 4;
    column-gap: 1rem;
    max-width: 1200px;
    max-height: 1448px;
    margin: 0 auto;
    grid-column:2;
    grid-row: 2 / span 2;
}
#galery .fotos{
    /* position: relative; */
    overflow: hidden;
    width: 236px;
    margin-bottom: 1rem;
    border-radius: 1rem;
    
}
#galery .fotos:hover{
    opacity: 0.5;
    overflow: hidden;
}
/* #galery .fotos img{
    position: absolute;
    display: block;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
} */
@media screen and (max-width: 600px){
    #galery{
        column-count: 2;
        grid-column:1 / span 2;
        grid-row: 3;   
    }
    aside{
        grid-column:1 /span 2 ;
        grid-row: 2;
        text-align: center;
    }
    body{
        grid-template-rows: 10% 15% auto;
    }
}
